<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                                                   <a>@DateTime.Now.ToLocalTime()</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="@Url.Action("Index", "About")">About</a>
                    <a href="@Url.Action("Index", "Contact")">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>