@model eProject.Web.Models.UserData

@if (Model == null)
{

}
<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="@Url.Action("Index", "Product")">
                        <i class="remixicon-dashboard-line"></i>Products
                    </a>
                </li>
            </ul>
            <!-- End navigation menu -->
        </div>
        <!-- end #navigation -->
    </div>
</div>




